#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.App {
  position: relative;
  height: 60vh;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  padding: 4em;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-transform: uppercase;
}

.master {
  position: absolute;
  margin: 0;
  top: 5px;
  left: 5px;
  text-transform: lowercase;
  opacity: 0.125;
}